:root {
  background-color: #171717;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}
h1 {
  color: white;
  text-align: center;
  font-size: 48px;
}
h3 {
  margin: 0;
  font-size: 32px;
}
.blur {
  filter: blur(0.5rem);
  z-index: 1;
}
.result {
  display: flex;
  font-size: 90px;
  margin: auto;
  width: 800px;
  /* height: 100vh; */
  /* justify-content: center; */
  align-items: center;
}
.options--container {
  display: flex;
  justify-content: space-around;
}
.options--container ::placeholder {
  color: #c9c9c9;
}
.options--container .required {
  background-color: rgba(133, 0, 0, 0.789);
}
.options--container div {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 30vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.options--container input {
  /* max-width: 100%; */
  width: 60%;
  height: 28px;
  background-color: #3e3e3e;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
  text-align: center;
}
.options--container button {
  padding: 7px 30px;
  width: 60%;
}
.back-button {
  margin-top: 10px;
  padding: 10px 20px;
}
.game--board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  height: 600px;
  gap: 10px;
  margin: auto;
}
.game--board-box {
  text-align: center;
  background-color: #464646;
  font-size: 9rem;
  color: white;
}
.game--board-box:hover {
  background-color: #595959;
}
